{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Severite index{% endblock %}

{% block body %}
    <a href="{{ path('app_back_tickets_index') }}" class="btn btn-secondary mb-3"><i class="fa fa-arrow-left"></i></a>
    <a href="{{ path('app_back_severite_new') }}" class="btn btn-primary mb-3"><i class="fa fa-plus"></i></a>
    <div class="rounded-3 p-4 bg-primary-color d-flex flex-column" style="height: 90vh;">
        <div class="table-container rounded-3 p-3 overflow-auto bg-white">
            <table class="table table-striped table-bordered" id="severiteTable">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Titre</th>
                        <th class="text-center">Créé le</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if severites|length > 0 %}
                        {% for severite in severites %}
                            <tr>
                                <td class="text-center">{{ severite.id }}</td>
                                <td>{{ severite.titre }}</td>
                                <td>{{ severite.createdAt ? severite.createdAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_back_severite_show', {'id': severite.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    <a href="{{ path('app_back_severite_edit', {'id': severite.id}) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {# {% else %}
                        <tr>
                            <td colspan="4" class="text-center">Aucun enregistrement trouvé</td>
                        </tr> #}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('node_modules/datatables.net/js/dataTables.min.js') }}"></script>
    <script src="{{ asset('node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#severiteTable').DataTable({
                pageLength: 50,
                language: {
                    url: "{{ asset('json/dataTables_fr.json') }}",
                },
            });
        });
    </script>
{% endblock %}