{% extends 'base.html.twig' %}

{% block title %}Severite{% endblock %}

{% block body %}
    <h1>Severite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ severite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ severite.titre }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ severite.createdAt ? severite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_severite_index') }}">back to list</a>

    <a href="{{ path('app_back_severite_edit', {'id': severite.id}) }}">edit</a>

    {{ include('BSack/severite/_delete_form.html.twig') }}
{% endblock %}
