<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-primary-color vh-100">
            {# <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <center><i class="fa-solid fa-code me-2"></i>
                <span class="fs-4">VIGISOFT</span></center>
            </a>
            <hr> #}
            <ul class="nav nav-pills flex-column mb-auto sidebar" style="margin-top: auto; margin-bottom: auto;">
                <li class="nav-item mb-3">
                    <a href="{{path('app_front_index')}}" class="btn bg-secondary-color w-100" aria-current="page">
                        <i class="fas fa-tachometer-alt"></i>
                        Tableau de bord
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="{{path('app_back_tickets_index')}}" class="btn bg-secondary-color w-100" aria-current="page">
                        <i class="fas fa-exclamation-triangle"></i>
                        Incidents
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="{{path('app_front_index')}}" class="btn bg-secondary-color w-100" aria-current="page">
                        <i class="fas fa-shield-alt"></i>
                        Veille
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="{{path('app_front_bonne_pratique')}}" class="btn bg-secondary-color w-100" aria-current="page">
                        <i class="fas fa-check-circle"></i>
                        Bonnes pratiques
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item mb-3">
                        <a href="{{path('app_back_user_index')}}" class="btn bg-secondary-color w-100">
                            <i class="fas fa-users"></i>
                            Utilisateurs
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item mb-3">
                    <a href="{{path('app_logout')}}" class="btn bg-secondary-color w-100">
                        <i class="fas fa-sign-out-alt"></i>
                        Déconnexion
                    </a>
                </li>
            </ul>
        </div>

        <div class="container-fluid p-4">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>