{% extends 'base.html.twig' %}

{% block title %}Contribution{% endblock %}

{% block body %}
    <h1>Contribution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contribution.id }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ contribution.token }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ contribution.titre }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ contribution.file }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ contribution.createdAt ? contribution.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Corpshtml</th>
                <td>{{ contribution.corpshtml }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_contribution_index') }}">back to list</a>

    <a href="{{ path('app_back_contribution_edit', {'id': contribution.id}) }}">edit</a>

    {{ include('Back/contribution/_delete_form.html.twig') }}
{% endblock %}
