{% extends 'base.html.twig' %}

{% block title %}Vigisoft{% endblock %}

{% block body %}
    <div class="rounded-3 p-4 bg-primary-color" style="min-height: 95vh; overflow-y: auto;">
        <div class="container">
            <div class="row text-center gx-4 gy-4">
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3 shadow" style="max-width: 100%;">
                        <div class="card-header text-center fw-bold">
                            Nombre total de tickets
                        </div>
                        <div class="card-body text-center">
                            <h1 class="display-4">{{ tickets|length }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3 shadow" style="max-width: 100%;">
                        <div class="card-header text-center fw-bold">
                            Nombre total de tickets en cours ...
                        </div>
                        <div class="card-body text-center">
                            <h1 class="display-4">{{ ticketsEnCours }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3 shadow" style="max-width: 100%;">
                        <div class="card-header text-center fw-bold">
                            Nombre total de tickets clos
                        </div>
                        <div class="card-body text-center">
                            <h1 class="display-4">{{ tickets|length }}</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100 shadow" style="background-color: #E5DCC5;">
                        <div class="card-header" style="background-color: #848FA5; color: black;">
                            Statut des tickets
                        </div>
                        <div class="card-body">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100 shadow" style="background-color: #E5DCC5;">
                        <div class="card-header" style="background-color: #848FA5; color: black;">
                            Nombre de tickets résolu par mois
                        </div>
                        <div class="card-body">
                            <div id="line" class="w-100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100 shadow" style="background-color: #E5DCC5;">
                        <div class="card-header" style="background-color: #848FA5; color: black;">
                            Sévérité des tickets
                        </div>
                        <div class="card-body">
                            <div id="pie"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card h-100 shadow" style="background-color: #E5DCC5;">
                        <div class="card-header" style="background-color: #848FA5; color: black;">
                            Nombre de tickets par mois
                        </div>
                        <div class="card-body">
                            <div id="column" class="w-100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card h-100 shadow" style="background-color: #E5DCC5;">
                        <div class="card-header" style="background-color: #848FA5; color: black;">
                            Radar hebdomadaire
                        </div>
                        <div class="card-body">
                            <div id="radar" class="w-100"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('node_modules/apexcharts/dist/apexcharts.min.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            series: {{ statusPercentages|json_encode|raw }},
            chart: {
                width: 380,
                type: 'pie',
            },
            labels: {{ statusTitre|json_encode|raw }},
            legend: {
                labels: {
                    colors: '#000000'
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        var options = {
          series: [{
              name: "Desktops",
              data: {{ resolvedTicketsByMonth|json_encode|raw }}
          }],
          chart: {
              height: 350,
              type: 'line',
              zoom: {
                  enabled: false
              }
          },
          dataLabels: {
              enabled: false
          },
          stroke: {
              curve: 'smooth'
          },
          grid: {
              borderColor: '#000000',
              row: {
                  colors: ['transparent'],
                  opacity: 1
              },
          },
          xaxis: {
              categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
              labels: {
                  style: {
                      colors: '#000000',
                      fontSize: '12px'
                  }
              },
              axisBorder: {
                  color: '#000000'
              },
              axisTicks: {
                  color: '#000000'
              }
          },
          yaxis: {
              labels: {
                  style: {
                      colors: '#000000',
                      fontSize: '12px'
                  }
              },
              axisBorder: {
                  color: '#000000'
              },
              axisTicks: {
                  color: '#000000'
              }
          }
        };

        var chart = new ApexCharts(document.querySelector("#line"), options);
        chart.render();

        var options = {
          series: {{ severitePercentages|json_encode|raw }},
          chart: {
              width: 380,
              type: 'pie',
          },
          labels: {{ severiteTitres|json_encode|raw }},
          legend: {
              labels: {
                  colors: '#000000'
              }
          },
          responsive: [{
              breakpoint: 480,
              options: {
                  chart: {
                      width: 200
                  },
                  legend: {
                      position: 'bottom'
                  }
              }
          }]
      };

      var chart = new ApexCharts(document.querySelector("#pie"), options);
      chart.render();

      var colors = ['#FF4560', '#008FFB', '#00E396', '#FEB019', '#775DD0', '#546E7A', '#26A69A', '#D10CE8', '#FF5733', '#33FF57', '#3357FF', '#FFC300'];

      var options = {
          series: [{
              data: {{ monthlyTicketCount|json_encode|raw }}
          }],
          chart: {
              height: 350,
              type: 'bar',
          },
          colors: colors,
          plotOptions: {
              bar: {
                  columnWidth: '50%',
                  distributed: true,
                  dataLabels: {
                      position: 'center'
                  }
              }
          },
          dataLabels: {
              enabled: true,
              style: {
                  colors: ['#000000'],
                  fontSize: '12px',
                  fontWeight: 'bold'
              }
          },
          legend: {
              show: false
          },
          grid: {
              borderColor: '#000000'
          },
          xaxis: {
              categories: [
                  'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
              ],
              labels: {
                  style: {
                      colors: colors,
                      fontSize: '12px'
                  }
              }
          },
          yaxis: {
              labels: {
                  style: {
                      colors: '#000000',
                      fontSize: '12px'
                  }
              },
              axisBorder: {
                  color: '#000000'
              },
              axisTicks: {
                  color: '#000000'
              }
          }
      };

      var chart = new ApexCharts(document.querySelector("#column"), options);
      chart.render();

      var options = {
        series: [{
            name: 'Series 1',
            data: {{ weeklyTicketCount|json_encode|raw }},
        }],
        chart: {
            height: 350,
            type: 'radar',
        },
        dataLabels: {
            enabled: true
        },
        plotOptions: {
            radar: {
                size: 140,
                polygons: {
                    strokeColors: '#f8f8f8',
                    fill: {
                        colors: ['#f8f8f8', '#fff']
                    }
                }
            }
        },
        colors: ['#FF4560'],
        markers: {
            size: 4,
            colors: ['#fff'],
            strokeColor: '#FF4560',
            strokeWidth: 2,
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val;
                }
            }
        },
        xaxis: {
            categories: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            labels: {
                style: {
                    colors: '#FFFFFF',
                    fontSize: '12px'
                }
            }
        },
        yaxis: {
            labels: {
                style: {
                    colors: '#000000',
                    fontSize: '12px'
                },
                formatter: function (val, i) {
                    if (i % 2 === 0) {
                        return val;
                    } else {
                        return '';
                    }
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#radar"), options);
    chart.render();
    });
  </script>
{% endblock %}
